@import 'bootstrap';


.divider-vertical {
  height: 25px;
  margin: 0 9px;
  border-right: 1px solid #ffffff;
  border-left: 1px solid #f2f2f2;
}

.card .card-title {
  margin-bottom: 0 !important;
}

.card .btn {
  border: none;
}

.card .card-title:hover,.card li:hover {
  cursor: pointer;
}

.card-inverse {
  color: #fff;
}

.card .btn-block + .btn-block {
  margin: 0;
}

.card .expenses li:not(:first-child) {
  padding: 0.25rem 0.75rem;
  background-color: #fafafa;
}

.card .expenses li:first-child {
  padding: 0;
}

.card .expenses {
  border-bottom: 3px solid #5cb85c;
}

.btn-group-justified {
  display: flex;
  width: 100%;
  .btn,
  .btn-group {
    flex: 1;
    .btn {
      width: 100%;
    }
    .dropdown-menu {
      left: auto;
    }
  }
}

.btn {
  border-radius: 0 !important;
}

.btn-circle {
  width: 25px;
  height: 25px;
  text-align: center;
  padding: 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px !important;
}

