<form class="form-inline">
    <div class="form-group">
      {{input type="number" value=model.children.money class="form-control" min="1" id="money" placeholder="20"}}
      {{input type="text" value=model.children.description class="form-control" id="description"
              placeholder="description"}}
    </div>
    <button type="submit" class="btn btn-outline-success" disabled={{model.isValid}} {{action 'saveMoney'
                                                                                              model.children}}>Save
        money</button>
</form>