<form class="form-inline">
    <div class="form-group">
      {{input type="text" value=model.children.name class="form-control" id="category" placeholder="Category name"}}
    </div>
    <button type="submit" class="btn btn-outline-success" disabled={{model.isValid}} {{action 'saveCategory'
                                                                                              model.children}}>Save
        category</button>
</form>