    <hr>
  {{#link-to "categories.add" class="btn btn-primary"}}Add Category{{/link-to}}
    <hr>

    <div class="card-columns">
  {{rec-row row=model deleteCategory='deleteCategory' deleteExpense='deleteExpense' expenseEdit='expenseEdit'
  saveExpense='saveExpense'}}
        </div>




