    <hr>

    {{#if save.addClicked}}
      {{category-create-form save=save mainCategory=true saveCategory='saveCategory'
      discardSaveCategory='discardSaveCategory'}}
      {{else}}
        <button class="btn btn-primary" {{action 'createMainCategory' save}}>Add Category</button>
    {{/if}}

    <hr>

    <div class="card-columns">
  {{rec-row row=model saveSub=saveSub discardSaveCategory='discardSaveCategory' deleteCategory='deleteCategory' deleteExpense='deleteExpense'
            expenseEdit='expenseEdit' saveCategory='saveCategory'
  saveExpense='saveExpense' cancelExpenseEdit='cancelExpenseEdit' isClickedSubCategory='isClickedSubCategory'}}
    </div>




